# Proof modes are `mock`, `cpu`, `cuda` and `network`.
# `mock` is for generating mock proofs locally.
# `cpu` is for generating proofs locally using the CPU.
# `cuda` is for generating proofs locally using the GPU.
# `network` is for generating proofs using the Succinct Prover Network.
SP1_PROVER=cpu

# To use the Succinct Prover Network, set the private key of the account you want to use for requesting proofs.
# Set up a new account here: https://docs.succinct.xyz/docs/network/developers/key-setup.
NETWORK_PRIVATE_KEY=